<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Customer</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>Label</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>Customer ID</th>
          <td><%= customer.CustomerID %></td>
        </tr>
        <tr>
          <th>Company Name</th>
          <td><%= customer.CompanyName %></td>
        </tr>
        <tr>
          <th>Contact Name</th>
          <td><%= customer.ContactName %></td>
        </tr>
        <tr>
          <th>ContactTitle</th>
          <td><%= customer.ContactTitle %></td>
        </tr>
        <tr>
          <th>Address</th>
          <td><%= customer.Address %></td>
        </tr>
        <tr>
          <th>City</th>
          <td><%= customer.City %></td>
        </tr>
        </tr>
      </tbody>
    </table>
      
    <a href="/">back</a>
  </body>
</html>
